@media(max-width:1024px) {
    .section-1 {
        padding: var(--padding-md) !important;
    }
}


@media (max-width: 745px) {
    .section-1 h3 {
        font-size: 36px !important;
    }
}

@media(max-width:430px) {
    .section-1 {
        padding: var(--padding-sm) !important;
    }
}